@charset "utf-8";
/* CSS Document */
body{

	background-color:#6eb6db;
	
}

.spacer{
	clear:both;
}

#header{	
	
	width:1000px;
	margin:auto;
	

}

#container{
	position:relative;
	margin:auto;
	margin-top:5px;
	width:1000px;
	background:white;
	border-radius:10px;

}




nav{
	padding:5px;
	font:24px "华文新魏";
	border-bottom:5px solid #6eb6db;
	
}

nav a:link, nav a:visited{
	
	padding:5px;
	text-decoration:none;
	color:#0937F2;
}

nav #ho:hover{
	color:white;
	background-color:#224699;
}

nav #th:hover{
	color:white;
	background-color:#FF8000;
}

nav #ph:hover{
	color:white;
	background-color:green;
}

nav #vi:hover{
	color:white;
	background-color:red;
}

nav #en:hover{
	color:white;
	background-color:#F0F;
}

nav #ab:hover{
	color:white;
	background-color:gray;
}

	

#article{	
	float:left;
	width:96%;
	height:70%;
	margin:10px 0 10px 10px;
	padding:10px;
	
}

.surround{
	border:3px solid black;
}

.photo{
	float:left;
	margin-left:10%;
}

h3{
	color:white;
	font:20px "黑体";
	font-weight:bold;
	clear:left;
	margin-left:10%;
	width:80%;
	float:feft;
	padding-top:5px;
	background-color:green;
	padding:5px;
	border-radius:5px;
}

.present{
	border-radius:10px;
	margin-bottom:15px;
	
}

.explain{
	margin:50px 0 0 52%;
	font:15px "黑体";
	line-height:25px;
	text-align:left;
}

.underline{
	clear:both;
	border:2px dashed gray;
}

#container #footer{
	clear:both;
	height:5%;
	border-top:5px solid #6eb6db;
	text-align:center;
	font:10px arial;
}
